* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  position: relative;
}
nav {
  width: 100%;
  background-color: cornflowerblue;
  box-shadow: 1px 1px 5px #000000;
  position: relative;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
ul li {
  list-style: none;
}

.banner {
  width: 100%;
  height: calc(100vh - 50px);
  background: linear-gradient(to right, #373b44, #4286f4);
  color: #ffffff;
}
.hero {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.hero h1 {
  font-weight: 300;
}
.hero p {
  margin: 15px 0;
  text-align: justify;
}
.open-popup {
  padding: 10px 20px;
  background-color: darkblue;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #000000;
  cursor: pointer;
}
.open-popup:hover {
  background-color: #0303b1;
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}
.drop {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  background-color: #fff;
  color: #373b44;
  padding: 50px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #ffffff;
}
.close-popup {
  background-color: crimson;
  color: #fff;
  padding: 10px 15px;
  margin: 15px 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #373b44;
}
